:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

body * + * {
    margin-top: 1.5em;
}

/***** header *****/

.site-nav {
    display: flex;
    padding: .5em;
    background-color: aliceblue;
    list-style-type: none;
    border-radius: .2em;
}

.container {
    min-width: 100%;
    margin: 0 auto;
}

.site-nav > li {
    margin-top: o;
}

.site-nav > li > a {
    background-color: aliceblue;
    color: black;
    text-decoration: none;
}